!!!
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'utf-8' }
    %title= "#{@item[:title]}"
    %meta{ name: 'generator', content: "nanoc #{Nanoc::VERSION} at #{Time.now}" }
    %meta{ name: 'viewport',  content: 'width=device-width,initial-scale=1' }

    %link{ rel: 'stylesheet', href: 'style.css' }

  %body
    #content
      = yield

